@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 20px;
}

::selection {
  background: #22d3ee;
  color: #020617;
}